body {
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
    background: #f4f5f6;
    padding: 10px 25px;
    margin: 0px 10px 35px -10px;
    border-bottom: 1px solid #e1e4e8;
}

.logo {
    font-size: 25px;
    margin-top: 10px;
}

    .logo > .logo-1 {
        font-weight: bold;
    }

.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 999;
    background-color: rgba(10,10,10,0.85);
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

    .modal-container {
        margin: 5% auto auto auto;
        width: 70%;
        background: white;
        border-radius: 10px;
    }

        .modal-header {
            border-bottom: 1px solid #ccc;
            margin: 0.5rem auto;
            padding: 0.5rem;
            text-align: center;
            background-color: #f0f0f0;
            border-radius: 10px 10px 0 0;
            text-transform: uppercase;
            font-weight: 400px;
            letter-spacing: .1rem;
            line-height: 38px;
        }

        .modal-body {
            padding: 2.5rem 2rem 1.5rem 2rem;
        }

#date-time {
    text-align: right;
    padding-right: 30px;
}

    #date-time > .date {
        color: #666;
    }

    #date-time > .time {
        font-weight: bold;
        font-size: 30px;
    }

main {
    width: 95%;
    margin: auto;
}

    ul.tab-nav {
        padding-left: 0 !important;  /* Override skeleton-tabs default */
    }

.tab-content {
    border: 1px solid #bbb;
    border-top: 0;
    padding: 20px;
    margin-top: -25px;
    border-radius: 0 0 7.5px 7.5px;
}

button[disabled] {
    color: #bbb;
    border: 1px solid;
}

    .button[disabled] {
        background: rgba(240,240,240,1)
    }

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #e4e4e4;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }

        .slider[disabled]::-webkit-slider-thumb {
            display: none;
        }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
    }

.btn-primary {
    background-color: #d8ffe0 !important;
    border: 1px solid #98efb0 !important;
}

.right-side {
    text-align: right !important;
}

#notification-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 25em;
}

    #notification-container > .notification {
        background: rgba(180,245,188,0.85);
        border: 1px solid #bbb;
        border-radius: 5px;
        margin-bottom: 1rem;
        margin-right: 1rem;
        cursor: pointer;
        display: none;
    }

    #notification-container > .notification:hover {
        background: rgba(160,235,168,0.9);
    }

    #notification-container * > .notification-title {
        padding: 4px 10px;
        font-weight: bold;
        text-transform: capitalize;
        line-height: 30px;
        letter-spacing: .1rem;
    }

    #notification-container * > .notification-body {
        height: 6em;
        overflow: hidden;
        padding-bottom: 1rem;
        letter-spacing: .05rem;
    }

    #notification-container * > .notification-text {
        margin-left: 0 !important;
    }

    #notification-container * > .notification-image {
        height: 100%;
        text-align: center;
        padding-top: .6em;
        padding-bottom: .6em;
    }

        #notification-container * > .notification-image-item {
            width: 100%;
            height: 100%;
            margin: auto;
        }

        #notification-container * > .fa.notification-image-item {
            margin-top: .8em;
            margin-left: .2em;
            font-size: 25px;
        }

        #notification-container * > .notification-image img {
            width: 80%;
            height: 80%;
        }

#hidden-plugins-container > .plugin {
    display: none;
}

