body {
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
    background: #f4f5f6;
    padding: 25px;
    margin: 0px 10px 35px -10px;
    border-bottom: 1px solid #e1e4e8;
}

.logo {
    font-size: 25px;
}

    .logo > .logo-1 {
        font-weight: bold;
    }

#date-time {
    text-align: right;
    padding-right: 30px;
}

    #date-time > .date {
        color: #666;
    }

    #date-time > .time {
        font-weight: bold;
    }

main {
    width: 95%;
    margin: auto;
}

    ul.tab-nav {
        padding-left: 0 !important;  /* Override skeleton-tabs default */
    }

.tab-content {
    border: 1px solid #bbb;
    border-top: 0;
    padding: 20px;
    margin-top: -25px;
    border-radius: 0 0 7.5px 7.5px;
}

    .playback-controls {
        text-align: center;
        border-bottom: 1px solid #e8eaf0;
        padding-bottom: 12px;
    }

    .button[disabled] {
        background: rgba(240,240,240,1)
    }

    .track-info {
        text-align: center;
        margin: -20px -20px 0 -20px;
        padding: 10px 20px;
    }

        .track-info > .artist {
            font-weight: bold;
            display: block;
        }

#playlist-content {
    margin-left: 0;
    width: 78%;
}

.music-pane {
    height: 360px;
    overflow-y: scroll;
    padding: 15px 15px 0 5px;
    background: #f8f8f8;
}

    .music-item {
        padding: 5px;
    }

        .music-item:nth-child(odd) {
            background-color: #f2f2f2;
        }

        .playlist-track > .track-time {
            text-align: right;
            color: #666;
        }

#track-seeker-container {
    margin-bottom: 15px;
}

#volume-ctrl-container {
    margin-top: 15px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #e4e4e4;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }

        .slider[disabled]::-webkit-slider-thumb {
            display: none;
        }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
    }

