html {
    min-height: 100%;
}

body {
    background: rgba(240,240,245,1.0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: Lato;
}

.widget {
    background: white;
    margin-top: 2em;
    border-radius: 5px;
    height: 22.5em;
    overflow: hidden;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

