#gpio-container {
    background-color: #f8f8f8;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: .1rem;
}

.gpio-pin {
    padding: 1.5em 1em;
    border-radius: 10px;
}

    .gpio-pin:nth-of-type(odd) {
        background-color: #ececec;
    }

    .gpio-pin:hover {
        background-color: #daf8e2 !important;
    }

.pin-value {
    text-align: right;
}

.pin-ctrl {
    width: 8em;
}

