#zb-container {
    outline: none !important;
}

.zb-controls-container {
    margin: auto;
    width: 25%;
}

.zb-ctrl-btn {
    white-space: normal;
    height: 6rem;
}

    .zb-ctrl-btn.selected {
        color: #78ff00 !important;
    }

.ctrl-bottom-row {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

