#video-search {
    max-width: 60em;
    margin: 1em auto;
}

    #video-search input[type=text] {
        width: 100%;
    }

form#video-ctrl {
    text-align: center;
}

#video-seeker-container {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#video-volume-ctrl-container {
    margin-top: 1em;
}

#video-results {
    padding: 1.5rem 1.5rem 0 .5rem;
    background: #f8f8f8;
}

    .video-result {
        padding: 5px;
        letter-spacing: .1rem;
        line-height: 3.3rem;
        cursor: pointer;
    }

    .video-icon-container {
        font-size: 2rem;
        margin-right: 2rem;
    }

        .video-result.selected {
            background-color: #c8ffd0 !important;
        }

        .video-result:hover {
            background-color: #daf8e2 !important;
        }

        .video-result:nth-child(odd) {
            background-color: #f2f2f2;
        }

        .video-result.active {
            height: 4rem;
            padding-top: 1.5rem;
            font-size: 1.7rem;
            border-radius: 10px;
            animation: active-track 5s;
            -moz-animation: active-track 5s infinite;
            -webkit-animation: active-track 5s infinite;
        }

            @keyframes active-track {
                0% { background: #d4ffe3; }
                50% { background: #9cdfb0; }
                100% { background: #d4ffe3; }
            }

            @-moz-keyframes active-track {
                0% { background: #d4ffe3; }
                50% { background: #9cdfb0; }
                100% { background: #d4ffe3; }
            }

            @-webkit-keyframes active-track {
                0% { background: #d4ffe3; }
                50% { background: #9cdfb0; }
                100% { background: #d4ffe3; }
            }

    button.remote[data-panel="#media-devices-panel"] {
        color: #34b868;
    }

#media-devices-panel,
#media-item-panel {
    display: none;
    position: absolute;
    padding: 1rem;
    background: #f0f0f0;
    z-index: 10;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    min-width: 10em;
}

    #media-devices-panel .refresh-devices-container {
        position: relative;
        height: 1em;
    }

    #media-devices-panel * > .refresh-devices {
        text-align: right;
        cursor: pointer;
        position: absolute;
        top: -.5rem;
        right: .5rem;
    }

    #media-devices-panel * > .cast-device,
    #media-item-panel > .media-item-action {
        padding: 0.5rem;
        cursor: pointer;
    }

    #media-devices-panel * > .cast-device-local {
        border-bottom: 1px solid #ddd;
        margin-bottom: 0.25rem;
    }

        #media-devices-panel * > .cast-device.selected {
            font-weight: bold;
            color: #34b868;
        }

        #media-devices-panel * > .cast-device.disabled,
        #media-devices-panel * > .refresh-devices.disabled,
        #media-item-panel > .media-item-action.disabled {
            cursor: default;
            color: #999 !important;
        }

        #media-devices-panel * > .cast-device:hover,
        #media-item-panel > .media-item-action:hover {
            background-color: #daf8e2 !important;
        }

        #media-devices-panel * > .cast-device-icon
        #media-item-panel > .media-item-item {
            color: #666;
        }

