.snapcast-host-container {
    min-width: 40em;
    margin: 1em auto;
    background: rgba(245,245,245,0.6);
    border: 1px solid rgba(220,220,220,1.0);
    border-radius: 10px;
}

.snapcast-host-header {
    border-bottom: 1px solid rgba(220,220,220,1.0);
    font-size: 1em;
}

.snapcast-group-header {
    padding: 0.5em;
}

    .snapcast-group-settings {
        text-align: center;
        cursor: pointer;
    }

    .snapcast-group-header h2 {
        font-size: 1.5em;
    }

.snapcast-client-container {
    padding: 0 1.4em;
}

    .snapcast-client-header h3 {
        font-size: 1.2em;
    }

