//// General purpose classes /////
.hidden {
    display: none !important;
}

.selected {
    background: $selected-bg;
}

.pull-right {
    text-align: right !important;
}

//// UI elements definitions /////

@import 'common/elements/button';
@import 'common/elements/switch';
@import 'common/elements/range-slider';
@import 'common/elements/slider';

