[submodule "platypush/backend/http/static/font-awesome"]
	path = platypush/backend/http/static/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "docs/wiki"]
	path = docs/wiki
	url = https://github.com/BlackLight/platypush.wiki.git
