.ropeproject
*.swp
*.pyc
__pycache__
config.yaml
build/
dist/
*.egg-info/
package.sh
.pypirc
platypush/backend/http/static/resources/*
docs/build
.idea/
config
platypush/backend/http/static/css/*/.sass-cache/
.vscode
platypush/backend/http/static/js/lib/vue.js
