[submodule "platypush/plugins/gpio/sensor/ir/mlx90640/lib"]
	path = platypush/plugins/camera/ir/mlx90640/lib
	url = https://github.com/pimoroni/mlx90640-library
[submodule "docs/wiki"]
	path = docs/wiki
	url = https://git.platypush.tech/platypush/platypush.wiki.git
