recursive-include platypush/backend/http/webapp/dist *
recursive-include platypush/install *
include platypush/plugins/http/webpage/mercury-parser.js
include platypush/config/*.yaml
include platypush/config/systemd/*
global-include manifest.json
global-include components.json.gz

global-exclude __pycache__/*
global-exclude *.pyc

# Exclude symlinks to avoid issues with setuptools
exclude platypush/backend/http/webapp/public/icons/openweathermap/black
exclude platypush/backend/http/webapp/public/icons/openweathermap/white
exclude platypush/backend/http/webapp/src/**
exclude platypush/events
exclude platypush/install/scripts/ubuntu
