###
# Platypush Python requirements
#
# Uncomment the lines associated to the optional dependencies that
# you may want to install to use some particular plugins or backends
###

# YAML configuration support
pyyaml

# Support for setting thread/process name
# python-prctl

# Apache Kafka backend support
# kafka-python

# Pushbullet backend support
# git+https://github.com/rbrcsk/pushbullet.py

# HTTP backend support
flask
websockets
redis
python-dateutil
tz
#uwsgi

# HTTP poll backend support
frozendict
requests

# Database plugin support
sqlalchemy

# Support for multi-users and password authentication
bcrypt

# RSS feeds support
# feedparser

# PDF generation support
# weasyprint

# Philips Hue plugin support
# phue

# MPD/Mopidy music server support
# python-mpd2

# Google Assistant support
# google-assistant-sdk[samples]
# google-assistant-library

# Google APIs general layer support
# google-api-python-client
# oauth2client

# Google text-to-speech API support
# google-cloud-texttospeech

# Last.FM scrobbler plugin support
# pylast

# Flic buttons support
# It doesn't come with a pip package nor a setup.py,
# follow the instructions on github to get the flicd daemon
# running, set up the buttons you want to use, and then
# enable backend.button.flic in your configuration.
# git+https://github.com/50ButtonsEach/fliclib-linux-hci

# text2speech plugin: mplayer system package

# Video support on RaspberryPi
# omxplayer-wrapper

# Custom hotword detection: Snowboy
# snowboy

# Support for the RaspberryPi camera module
# picamera

# Support for torrents download
# python-libtorrent

# Support for smart cards detection
# pyscard

# Support for MCP3008 analog-to-digital converter plugin
# adafruit-mcp3008

# Support for real-time MIDI events
# rtmidi

# Support for inotify plugin
# inotify

# Support for MQTT
paho-mqtt

# iCal calendars support
# icalendar

# Serial port support
# pyserial

# Bluetooth devices support
# pybluez
# gattlib
# git+https://github.com/BlackLight/PyOBEX

# Support for TP-Link HS100 and similar smart switches/plugins
# pyHS100

# Support for joystick backend
# inputs

# Support for Kodi
# kodi-json

# Support for Plex
# plexapi

# Support for Chromecast
# pychromecast

# Support for sound devices, playback and recording
# sounddevice
# soundfile
# numpy

# Support for media subtitles
# git+https://github.com/agonzalezro/python-opensubtitles
# webvtt-py

# Mopidy backend
websocket-client

# mpv player plugin
# python-mpv

# SCSS/SASS to CSS compiler for web pages style
pyScss

# Support for NFC tags
# nfcpy >= 1.0
# ndef

# Support for enviropHAT
# envirophat

# Support for GPS integration
# gps

# Support for BME280 environment sensor
# pimoroni-bme280

# Support for LTR559 light/proximity sensor
# ltr559

# Support for VL53L1X laser ranger/distance sensor
# smbus2
# vl53l1x

# Support for PWM3901 2-Dimensional Optical Flow Sensor
# pwm3901

# Support for MLX90640 thermal camera
# Pillow

# Support for machine learning CV plugin
# cv2
# numpy

# Support for cronjobs
croniter

# Support for Dropbox
# dropbox

# Support for Alexa/Echo voice integrations
# git+https://github.com:BlackLight/avs.git

# Support for clipboard manipulation
# pyperclip

# Support for RST->HTML docstring conversion
# docutils

# Support for Node-RED integration
# nodered

# Support for Todoist integration
# todoist-python

# Support for Trello integration
# py-trello

# Support for Google Pub/Sub
# google-cloud-pubsub

# Support for keyboard/mouse plugin
# pyuserinput

# Support for Buienradar weather forecast
# buienradar

# Support for Telegram integration
# python-telegram-bot

# Support for Arduino integration
# pyserial
# pyfirmata2

# Support for CUPS printers management
# pycups

# Support for Graphite integration
# graphyte

# Support for CPU and memory monitoring and info
# py-cpuinfo
# psutil

# Support for nmap integration
# python-nmap

# Support for ESP8266/ESP32 Micropython integration
# websocket-client
