###
# Platypush common requirements
###

pyyaml
marshmallow
python-prctl
flask
websockets
redis
python-dateutil
tz
frozendict
requests
sqlalchemy<2.0.0
bcrypt
rsa
zeroconf>=0.27.0
paho-mqtt
websocket-client
croniter
python-magic
