###
# Platypush common requirements
###

alembic
croniter
docutils
flask
frozendict
marshmallow
marshmallow_dataclass
paho-mqtt
psutil
python-dateutil
python-magic
pyyaml
redis
requests
rsa
sqlalchemy
tornado
websocket-client
websockets
zeroconf>=0.27.0
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
