.track {
  display: flex;
  justify-content: center;
  padding: .75em .25em .25em .25em;
  box-shadow: 0 2.5px 2px -1px $default-shadow-color;
  cursor: pointer;

  &:hover {
    background: $hover-bg;
  }

  &.active {
    background: $active-bg;
  }

  &.selected {
    background: $selected-bg;
  }

  &.dragover {
    border-top: 2px solid $default-hover-fg;
  }

  .title, .artist, .album, .duration {
    &::selection {
      background: rgba(0, 0, 0, 0) !important;
    }
  }

  .title {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
  }

  .artist, .album {
    display: inline-flex;
    opacity: 0.7;
    font-size: .9em;
  }

  .artist {
    margin-right: .25em;
  }

  .album {
    @include until($tablet) {
      display: none;
    }

    &::before {
      content: "\2022";
      margin-right: .25em;
    }
  }

  .right-side {
    display: flex;
    justify-content: right;
  }

  .duration,
  .actions {
    display: inline-flex;
    align-items: center;
  }

  .duration {
    font-size: .85em;
    opacity: .7;
  }

  .actions {
    ::v-deep(button) {
      opacity: .7;
    }
  }
}
