a, a:visited {
  /* Don't change the color for visited links */
  color: var(--pst-color-link) !important;
}

ul.grid {
  display: grid;

  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media screen and (min-width: 501px) and (max-width: 699px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 700px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

a.grid-title {
  width: 100%;
  display: block;
  margin: 1.5em 0;
  font-size: 1.5em !important;
  border-bottom: 1px solid #ccc;
}

ul.grid li {
  display: flex;
  background: linear-gradient(0deg, #fff, #f9f9f9);
  align-items: center;
  justify-content: space-between;
  margin: 0 10px 10px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  flex-direction: column;
}

ul.grid img {
  width: 48px;
  margin-right: 5px;
}

ul.grid li code {
  width: 100%;
}

ul.grid li code .pre {
  width: 100%;
  display: block;
  white-space: pre-wrap;
}

ul.grid li:hover {
  background: linear-gradient(0deg, #157765, #cbffd8) !important;
}

ul.grid li a {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0.5em;
}

ul.grid li:hover a {
  color: white !important;
}

ul.grid li a code {
  background: none;
  border: none;
}

ul.grid .icon {
  width: 32px;
}

/* Clipboard button */
.clipboard {
  position: absolute;
  display: inline-block;
  width: 32px;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
}

/* Tabs */
.tabs {
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
}

.tabs ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ccc;
}

.tabs ul li {
  display: inline-flex;
  max-width: 25%;
  margin: 0;
  padding: 0.25em 0.5em;
  list-style: none;
  cursor: pointer;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  border-radius: 0.75em 0.75em 0 0;
  border: 1px solid #ddd;
}

.tabs ul li.selected {
  background: rgb(200,255,208);
}

.tabs ul li:hover {
  background: rgb(190,246,218);
}

.tabs .body {
  margin-top: -1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 0.75em 0.75em;
}

.bd-article-container {
  position: relative;
}

.filter-bar {
  width: 100%;
  display: block;
  font-size: 0.6em;
  border: 1px solid #ccc;
  border-radius: 0.75em;
  margin: 0.5em 0;
  padding: 0.25em;
}

#reference h2.fixed {
  position: fixed;
  top: 0;
  background: white;
  z-index: 1;
  border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
  #reference h2.fixed {
    width: 100%;
    margin-left: -0.5em;
    padding: 0.5em 0.5em 0 0.5em;
  }
}

@media screen and (max-width: 959px) {
  #reference h2.fixed {
    width: 100%;
    margin-left: -1em;
    padding: 0.5em 0.5em 0 0.5em;
  }
}

@media screen and (min-width: 960px) {
  #reference h2.fixed {
    width: 75%;
    max-width: 800px;
    padding-top: 0.5em;
  }
}
