.widget.date-time-weather {
    text-align: center;
}

.date-time-weather-container {
    padding: 2rem;
    position: relative;
    min-height: 20.5em;
}

#weather-icon {
    margin-left: 2rem;
}

h1.temperature {
    font-size: 45px;
    margin: 4rem 2rem;
    font-weight: bold;
}

    h1.temperature > [data-bind=temperature] {
        margin-left: -2.5rem;
    }

    .widget.date-time-weather * > .time {
        font-size: 22px;
    }

    .widget.date-time-weather * > .sensors {
        position: absolute;
        bottom: 2rem;
        width: 90%;
        margin-left: -2rem;
        padding-left: 1rem;
    }

    .widget.date-time-weather * > .sensor-temperature,
    .widget.date-time-weather * > .sensor-humidity {
        display: none;
        font-weight: bold;
    }

    .widget.date-time-weather * > .sensor-temperature {
        text-align: left;
    }

    .widget.date-time-weather * > .sensor-humidity {
        text-align: right;
    }

