.widget.date-time-weather {
    text-align: center;
}

.date-time-weather-container {
    padding: 2rem;
}

h1.temperature {
    font-size: 45px;
    margin: 4rem 2rem;
    font-weight: bold;
}

    .widget.date-time-weather * > .time {
        font-size: 22px;
    }

    .widget.date-time-weather * > .sensor-temperature,
    .widget.date-time-weather * > .sensor-humidity {
        display: none;
    }

