.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
    color: #999;
}

.carousel > img {
    flex-shrink: 0;
    border-radius: 5px;
    height: 22.5em;
}

