.music-container {
    position: relative;
    width: inherit;
    height: inherit;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.track-info {
    font-size: 20px;
}

    .track-info > .artist {
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .track-info > .title {
        margin-bottom: 2rem;
    }

.time-bar {
    height: 7.5px;
    background: #ddd;
    margin: 7.5px;
    border-radius: 10px;
}

    .time-bar > .elapsed {
        height: 7.5px;
        background: #98ffb0;
        border-radius: 10px;
    }

.time-elapsed {
    text-align: left;
    margin-left: 1rem;
}

.time-total {
    float: right;
    margin-right: 1rem;
}

.time-elapsed, .time-total {
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 1px;
}

.no-track-info {
    font-size: 25px;
}

.playback-status-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 1rem 0;
    font-size: 1.22rem;
    color: #757f70;
}

    .playback-status-container > .playback-status-values {
        font-weight: bold;
    }

