@import 'common/vars';

@import 'common/mixins';
@import 'common/layout';
@import 'common/elements';
@import 'common/animations';
@import 'common/modal';
@import 'common/notifications';

@import 'nav';

body {
    width: 100%;
    overflow-x: hidden;
    font-family: $default-font-family;
    font-size: $default-font-size;
}

main {
    padding: 4.9rem 0;
    margin: 0;
}

a {
    color: $default-link-fg;
}

