$extra-params-btn-bg: $title-bg;
$response-fg: $inverse-fg;
$error-fg: $error-fg-2;
$procedure-submit-btn-bg: $submit-btn-bg;
$section-title-bg: rgba(0, 0, 0, .04);
$params-desktop-width: 30em;
$params-tablet-width: 20em;
$request-headers-btn-width: 7.5em;
