button, .btn, .btn-default {
  border: $default-border-3;
  cursor: pointer;
  padding: 0.5em 1em;
  letter-spacing: 0.05em;

  &.btn-primary, &[type=submit] {
    background: $selected-bg;
    color: $selected-fg;
    border: $selected-border;
  }

  &:hover {
    background: $hover-bg;
    border: 1px solid $default-hover-fg;
  }

  .icon {
    margin-right: .5em;
  }
}

input[type=text], input[type=password] {
  border: $default-border-3;
  border-radius: 1em;
  padding: 0.5em;

  &:focus {
    border: 1px solid $default-hover-fg;
  }
}

input, button {
  outline: none;
}

textarea, input[type=text] {
  &:hover {
    border: 1px solid $active-glow-bg-2;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: $default-link-fg;
  text-decoration: underline dotted;
  cursor: pointer;

  &:hover {
    color: $default-hover-fg;
  }
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;

  @include until($tablet) {
    width: 0.3333em;
    height: 0.3333em;
  }
}

::-webkit-scrollbar-track {
  background: $scrollbar-track-bg;
  box-shadow: $scrollbar-track-shadow;
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-bg;
  border-radius: 1em;
  cursor: pointer;
}

.text-danger {
  color: $error-fg;
}

body {
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-thumb-bg $scrollbar-track-bg;
}

// Browser navigator layout
$nav-height: 2.5em;

.browser {
  :deep(.nav) {
    width: 100%;
    height: $nav-height;
    padding: 0.5em 1em;
    background: $tab-bg;
    box-shadow: $border-shadow-bottom;
    white-space: nowrap;
    overflow: hidden;

    .path {
      cursor: pointer;

      .token {
        &:hover {
          color: $default-hover-fg;
          text-decoration: underline;
        }
      }

      .separator {
        font-size: 1em;
        width: 1.2em;
        padding: 0 1em;
      }
    }
  }
}

// Tabs
$tab-height: 3.5em;
