@mixin icon {
  content: ' ';
  background-size: 1em 1em;
  width: 1em;
  height: 1em;
  display: inline-block;
}

.fa.fa-kodi:before {
  @include icon;
  background: url('/icons/kodi.svg');
}

.fa.fa-plex:before {
  @include icon;
  background: url('/icons/plex.svg');
}

.fa.fa-jellyfin:before {
  @include icon;
  background: url('/icons/jellyfin.svg');
}
