$media-ctrl-panel-height: 5.5em;
$media-header-height: 3.3em;
$media-nav-width: 2.8em;
$filter-header-height: 3em;
$default-media-img-bg: #d0dad8;
$default-media-img-fg: white;
$media-ctrl-ext-bg: radial-gradient(white, #e0e3d0a0);
$media-ctrl-ext-shadow: 0 0 1px 2px inset #c7c8c8;

.fa-youtube {
  color: #d21;
}
