.grid {
  :deep(.item) {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: $default-border-2;
    cursor: pointer;

    &:hover {
      background: $hover-bg;
    }

    .icon {
      height: 60%;
      display: inline-flex;
      justify-content: center;

      i {
        font-size: 40px;
      }
    }
  }
}

$media-nav-height: 2.5em;

:deep(.nav) {
  height: $media-nav-height;
}
