<script type="text/javascript" src="{{ url_for('static', filename='js/widgets/image-carousel.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/image-carousel.css') }}"></script>

{% set images = utils.search_web_directory(
    widget['images_path'], '.jpg', 'jpeg', '.png') %}

<script type="text/javascript">
    window.widgets['image-carousel'].imageUrls = {{ images|safe }};
</script>

<div class="carousel">
    <div class="carousel-background">&nbsp;</div>
    <img alt="Your carousel images">
</div>

