<script type="text/x-template" id="tmpl-app-header">
    <header class="s-hidden m-hidden">
        <div class="row">
        <div class="logo col-9">
            <span class="logo-1">Platypush</span>
            <span class="logo-2">Web Panel</span>
        </div>

        <div class="date-time col-3">
            <div class="date" v-text="now.toDateString().substring(0,10)"></div>
            <div class="time" v-text="now.toTimeString().substring(0,8)"></div>
        </div>
        </div>
    </header>
</script>

<app-header></app-header>

