<nav>
    <ul class="row">
        {% for plugin in plugins|sort %}
            <li :class="{selected: '{{ plugin }}' == selectedPlugin}">
                <a href="#{{ plugin }}" @click="selectedPlugin = '{{ plugin }}'">
                    {{ plugin }}
                </a>
            </li>
            <span class="decorator" v-if="'{{ plugin }}' == selectedPlugin"></span>
        {% endfor %}

        <li>
            <a href="#{{ plugin }}">Test tab 2</a>
        </li>
        <li>
            <a href="#{{ plugin }}">Test tab 3</a>
        </li>
    </ul>
</nav>

