<!doctype html>
<head>
    <title>Platypush registration page</title>

    {% include 'css-common.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/login.css') }}">
</head>

<body>
    <main>
        <form class="register" method="POST">
            <div class="row">
                <input type="text" name="username" placeholder="New username">
            </div>
            <div class="row">
                <input type="password" name="password" placeholder="Password">
            </div>
            <div class="row">
                <input type="password" name="confirm_password" placeholder="Confirm password">
            </div>
            <div class="row pull-right">
                <input type="submit" class="btn btn-primary" value="Register">
            </div>
            <div class="row pull-right">
                Keep me logged in on this device &nbsp;<input type="checkbox" name="remember">
            </div>
        </form>
    </main>
</body>

